.container{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.07fr 0.5fr 0.07fr;
    grid-template-areas:
    "header header header"
    "leftsidebar main rightsidebar"
    "footer footer footer"
    ;
    grid-gap:5px;
    color: white;
    text-align: center;
}
header{
    background-color: #fe8515;
    grid-area: header;
    display:flex;
    align-items: center;
    justify-content: center;
}

#leftsidebar{
    background-color: #7fc242;
    grid-area: leftsidebar;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
main{
    background-color: #8bf10a;
    grid-area: main;
    border-radius: 10px;
    display:flex;
    align-items: center;
    justify-content: center;
}
#rightsidebar{
    background-color: #7fc242;
    grid-area: rightsidebar;
    border-radius: 10px;
    padding: 50px;
    display:flex;
    align-items: center;
    justify-content: center;
}
footer{
    background-color: #f57e20;
    grid-area: footer;
    display:flex;
    align-items: center;
    justify-content: center;
}
